[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[user]
    name = Wenbin Hou
[credential]
    helper = store
[push]
    default = simple
[core]
    pager=less
    editor = vim
    preloadindex = true
    fscache = true
    ignorecase = false
[alias]
    tree = log --graph --decorate --pretty=oneline --abbrev-commit --all
[gc]
    auto = 256
